{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}

<div class="row">
    <div class="card-panel blue-grey darken-4">
        <h1 class="center-align white-text">Propriétés de luxe
        </h1>
        <div class="row">
            <p class="center-align white-text col l6 offset-l3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores,
                delectus temporibus, commodi natus aut perspiciatis reiciendis sapiente praesentium ad, quibusdam
                perferendis id ullam repellat tenetur quasi reprehenderit adipisci ipsum aperiam.</p>
        </div>

    </div>
</div>

<div class="container">
    <!-- Page Content goes here -->

    <h2>Les derniers biens</h2>
    <div class="row">
        {% for property in properties %}
        {{ include('property/_property.html.twig') }}
        {% endfor %}
    </div>
    {% endblock %}