.error {
    color: white;
    font-weight: bold;
    background-color: rgb(194, 30, 30);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.card-panel {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
}

.slogan{
    line-height: 1.5;
}

#icon-place {
    color: #26a69a;
}

.container {
    height: 85%;
}

#logo {
    right: 2.5rem;
}

.subtitle {
    font-size: 15px;
    padding-left: 10px;
}

.price {
    font-size: 30px;
    font-weight: bold;
}


.title-property {
    font-size: 30px;
}

@media (min-width: 992px) {
    .indicators {
        bottom: 22px !important;
    }

    h1{
        font-size: 3.2rem;
    }

    h2{
        font-size: 2.8rem;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2.2rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2.10rem;
    }

    .title-filter {
        font-size: 1.5rem;
    }

    .subtitle-show {
        font-size: 2rem;
    }

    .price-show {
        font-size: 2rem;
        font-weight: bold;
    }

    .carousel {
        height: 195px;
    }

    .carousel.carousel-slider .carousel-item {
        min-height: unset;
    }

    .sidenav li>a {
        font-size: 17px;
    }

    .page-edit-picture {
        margin-bottom: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6, #logo, a.nav {
    font-family: 'Libre Baskerville', serif;
}