{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil{% endblock %}

{% block body %}

{# <div class="row">
    <div class="card-panel teal darken-3">
        <h1 class="center-align white-text">Propriétés de luxe
        </h1>
        <p class="center-align white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, delectus
            temporibus, commodi natus aut perspiciatis reiciendis sapiente praesentium ad, quibusdam perferendis id
            ullam repellat tenetur quasi reprehenderit adipisci ipsum aperiam.</p>
    </div>
</div> #}

<div class="container">
    <!-- Page Content goes here -->

    <h2>Gérer les biens</h2>

    <table class="table striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td>{{property.title}}</td>
                    <td><a href="{{path('admin_property_edit', {id: property.id }) }}" class="btn">Modifier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}