{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Modifier l'option{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 l5 offset-l3">

            <div class="row">
                <h4>Modifier l'option</h4>
            </div>
            <div class="row">
                <a class="valign-wrapper right" href="{{ path('admin_option_index') }}"><i
                        class="left material-icons">backspace</i>Retourner à la liste</a>
            </div>

            <div class="row">
                {{ include('admin/option/_form.html.twig', {'button_label': 'Valider'}) }}
            </div>




            <div class="row">
                {{ include('admin/option/_delete_form.html.twig') }}
            </div>
        </div>

    </div>
</div>

{% endblock %}